*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--color-accent: #C37F00;
	--color-accent-light: #EB9800;
	--color-gray: #484848;
	--color-gray-light: #999999;
	--color-gray-dark: #2e2e2e;
	--color-link: #2288ff;
}

body {
	margin: 0;
	line-height: 1.4;

	background-color: #222222;
	color: white;
}

main {
	max-width: 768px;
	margin: 0 auto 0 auto;
	padding: 1rem;
}

.button-row {
	display: flex;
	gap: 0.5rem;
	margin: 1rem 0 1rem 0;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

legend {
	padding: 1rem 0 0.5rem 0;
}

button, input, select {
	border: none;
	color: white;
	font-size: 1rem;

	padding: 0.5rem;
}

button, input[type="submit"] {
	background-color: var(--color-accent);
	font-weight: bold;
	transition: background-color 0.2s ease-out;
}

:is(button, input[type="submit"]):hover {
	background-color: var(--color-accent-light);
}

input[type="submit"]:disabled {
	background-color: var(--color-gray-light);
}

input, select {
	background-color: var(--color-gray);
}

select:has([value=""]:checked) {
	color: var(--color-gray-light);
}

a {
	color: var(--color-link);
}

table {
	border-spacing: 0;
}

th, td {
	padding: 0.5rem;
}

th {
	text-align: end;
}

tr:nth-of-type(odd) {
	background-color: #333333;
}

tr:nth-of-type(even) {
	background-color: #404040;
}

.card {
	padding: 0.5rem;
}

.card-good {
	background-color: #006600;
}

.card-error {
	background-color: #660000;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}
